<template name="haikuParser">
    <p>Click the following button to detect haikus in a string. Or email your haikus to scholarlyotter@gmail.com and click import from emails!</p> 
    <div class="col-4">
    <table class="table" >
        <thead>
            <th scope="col" width="25%">Input</th>
            <th scope="col" width="25%">Strict</th>
            <th scope="col" width="25%">Loose</th>
            <th scope="col" width="25%">Rejected</th>
        </thead>
        <tr>
            <td>
                <textarea id="inputText" style="min-height: 500px;"></textarea><br>
            </td>
            <td>
                <textarea id="outputText" style="min-height: 500px;"></textarea><br>
            </td>
            <td>
                <textarea id="closeText" style="min-height: 500px;"></textarea><br>
            </td>
            <td>
                <textarea id="rejectedText" style="min-height: 500px;"></textarea><br>
            </td>
        </tr>
    </table>
    <button id="parse" class="btn btn-primary">Parse</button>
    <button id="import-email" class="btn btn-primary">Import from Emails</button>
    <button id="regenerate-lsa" class="btn btn-primary">Regenerate LSA Statistics</button>
    {{#if isInRole 'supervisor,admin'}}
    <button id="regenerate-lsa" class="btn btn-primary">Export Dataset as JSON</button>
    {{/if}}
    </div>
    {{#if haikuMail}}
    <h2>Emails Available</h2>
    <h3>Options</h3>
    <form>
        Parse Only New Message <input type="checkbox" id="onlyNew" checked>
    </form>
    <h3>Emails</h3>
    <table>
    <thead>
        <th scope="col" width="25%">Date</th>
        <th scope="col" width="25%">From</th>
        <th scope="col" width="25%">Action</th>
    </thead>
    {{#each haikuMail}}
    <tr>
        <td>
            {{this.data.date}}
        </td>
        <td>
            {{this.data.from.text}}
        </td>
        <td>
            {{#if isInRole 'supervisor,admin'}}
            <button id="mark-email" data-id="{{this._id}}" class="btn btn-warning" style="margin-top: 5px;">Mark as Processed</button>
            {{/if}}
            <button id="process-email" data-id="{{this._id}}" class="btn btn-success" style="margin-top: 5px;">Process as Haiku Email</button>
        </td>
    </tr>  
    {{/each}}
</table>
{{/if}}
{{#if haikuList}}
<h2>Haikus Available</h2>
<table>
<thead>
    <th scope="col" width="25%">Haiku</th>
    <th scope="col" width="25%">Action</th>
</thead>
{{#each haikuList}}
<tr>
    <td>
        {{this}}
    </td>
    <td>
        {{#if isInRole 'supervisor,admin'}}
        <button id="delete-new-haiku" data-id="{{@index}}" class="btn btn-danger" style="margin-top: 5px;">Ignore</button>
        <button id="accept-new-haiku" data-id="{{@index}}" class="btn btn-success" style="margin-top: 5px;">Accept</button>
        {{/if}}
    </td>
</tr>  
{{/each}}
</table>
{{/if}}
{{#if allHaikus}}
<h2>Haikus In Dataset</h2>
<table class="table-responsive">
<thead>
    <th scope="col" width="25%">Haiku</th>
    <th scope="col" width="25%">Action</th>
</thead>
{{#each allHaikus}}
<tr>
    <td>
        {{this.data.haiku}}
    </td>
    <td>
        {{#if isInRole 'supervisor,admin'}}
        <button id="delete-haiku" data-id="{{this._id}}" class="btn btn-danger" style="margin-top: 5px;">Delete</button>
        {{/if}}
    </td>
</tr>  
{{/each}}
</table>
{{/if}}
<h2>Natural Language Processing</h2>
<h3>Haiku Generator</h3>
<p>Random Co-Occurance: generated by using random choice of co-occuring words where position is 'after'.</p>
<p>Random Co-Occurance Weighted (Markov): generated by using weights of occurance for a random choice of co-occuring words where position is 'after'.</p>
<button id="generate-haiku-random-cooccurance" data-id="{{this._id}}" class="btn btn-primary" style="margin-top: 5px;">Generate by Random Co-Occurance</button>
<button id="generate-haiku-random-cooccurance-markov" data-id="{{this._id}}" class="btn btn-primary" style="margin-top: 5px;">Generate by Random Co-Occurance Weighted (Markov)</button>
<h4>Haiku Generator Output</h4>
{{generatedHaiku}}
<h3>Word Co-occurances</h3>
<div class="container">
<div class="row align-items-start">
    <div class="col">
        {{#each lsaData.uniqueWords}}
    <table style="width:300px; border: 1px black;">
    <thead style="background-color:lightgray;">
            <th scope="col" width="25%">{{this.word}}</th>
            <th scope="col" width="25%">Syllables</th>
            <th scope="col" width="25%">Position</th>
            <th scope="col" width="25%">Occurances</th>
        </thead>
        {{#each this.adjacentWords}}
        <tr>
            <td>
            {{word}}
            </td>
            <td>
                {{syllables}}
                </td>
                <td>
                    {{position}}
                    </td>
            <td>
            {{count}}
            </td>
        </tr>
        {{/each}}
    </table>
    <br>
<br>
{{/each}}
    </div>
</div>

</div>
</template>